body{
    background-color: #fdfaf6;
    font-family:'Arial Narrow Bold', sans-serif ;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 80;
}

#brand {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#faf1e6;
    color: rgb(90, 41, 41);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
}

.div1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#logo {
    width: 150px;
    margin-bottom: -80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

header {
    background: #faf1e6;
    color: white;
    margin-top: -40;
    
}

nav {
    text-align: center;
    padding-right: 35px;
    margin-top: -30px;
}

li {
    display: inline-block;
    padding-inline: 20px;
}

.box {
    column-count: 1;
    column-gap: 20px;
    text-align: center;
    padding-bottom: 40px;
}

#webdev {
    background-color: rgb(59, 58, 58);
    color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.cover {
    float: right;
    margin-top: 0px;
    margin-right: -90px;
}

#space {
    padding-top: 80px;
    padding-right: 80px;
}

.coverup {
    margin-top: 300px;
    margin-left: -150px;
}

.head1 {
    margin-top: -100px;
    font-size: 30px;
    padding-bottom: 20px;
}

.head2 {
    font-size: 24px;
    padding-bottom: 20px;
}

.head3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.head0 {
    font-size: 40px;
    margin-top: 50px;
    margin-right: -650px;
}

.para1 {
    text-align: left;
    margin-left: 180px;
    margin-right: 700px;
}

.cap2{   
    font-size: 18px;
    margin-top: 0px;
    margin-right: -650px
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(59, 58, 58) ;
}

.boxes2 {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
}

#a1:link {
    color: green;
  }
  
#a1:visited {
    color: purple;
  }
  
#a1:hover {
    color: hotpink;
  }

#a1:active {
    color: blue;
 }

 #a2:link {
    color: white;
  }
  
#a2:visited {
    color: whitesmoke;
  }
  
#a2:hover {
    color: hotpink;
  }

#a2:active {
    color: blue;
  }

.box1 {
    text-transform: uppercase;
    color: tomato;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

.box3 {
    text-transform: uppercase;
    color: tomato;
    float: right;
    margin-right: 60px;
    margin-top: -90px;
}

.box2 {
    text-transform: uppercase;
    color: tomato;
    margin-left: 550px;
}
